.ingredients-list {
  max-width: 90vw;
  width: 600px;
  margin: 0 auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.removing-enter {
  opacity: 0;
  transform: translateY(-30px);
}

.removing-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease-out;
}

.removing-exit {
  opacity: 1;
  transform: rotate(0deg) translateY(0px);
}

.removing-exit-active {
  transform: rotate(1deg) translateY(20px);
  transform-origin: left;
  opacity: 0;
  transition: all 0.3s ease-out;
}
